<html>
<head>
<title>div reload</title>

<script type="text/javascript"
    src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>
    $(document).ready(
            function() {
                setInterval(function() {
                    var now = new Date();
                    var hour = now.getHours();
                    if (hour < 10) {
                    hour = "0" + hour
                    }
                    var minute = now.getMinutes();
                    if (minute < 10) {
                        minute = "0" + minute
                    }

                    var day_nr = now.getDay();
                    var days_array = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
                    day_nr = days_array[day_nr];
                    var day = now.getDate();
                    var month = now.getMonth();
                    month = month+1;
                    if (month < 10) {
                        month = "0" + month
                    }
                    var year = now.getFullYear();

                    $('#show').text(
                            '<time>' + hour + ':' + minute + '</time><br />' + day_nr + ', ' + day + '.' + month + '.' + year);
                }, 3000);
            });
</script>

</head>
<body>
    <br>
    <br>
    <div id="show" align="center"></div>

</body>
</html>